@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/kendo/styles/kendo.common-bootstrap.min.css")
@Styles.Render("~/Content/kendo/styles/kendo.bootstrap.min.css")


@Scripts.Render("~/Scripts/kendo/js/kendo.ui.core.min.js")

@Scripts.Render("~/Scripts/Common.js")

<script src="@Url.Content("~/Scripts/CUDS/Home/IndexDHExchangeRate.js")" type="text/javascript"></script>
<script type='text/javascript'>

    $(document).ready(function () {
        $(window).load(function () {
            //if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            //    window.location.href = "http://localhost:13149/Kanit_Sap/Home/Index";
            //}
            //else { //window.location.href = "http://localhost:13149/Kanit_Sap/Home/Index";
            //}

            //$().UItoTop({ easingType: 'easeOutQuart' });
            //$('#stuck_container').tmStickUp({});
        });

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        //$('#calendar').fullCalendar({
        //    header: {
        //        left: 'prev,next today',
        //        center: 'title',
        //        right: 'month,agendaWeek,agendaDay'
        //    },
        //    editable: true,
        //    events: [
        //        {
        //            title: 'All Day Event',
        //            start: new Date(y, m, 1)
        //        },
        //        {
        //            title: 'Long Event',
        //            start: new Date(y, m, d - 5),
        //            end: new Date(y, m, d - 2)
        //        },
        //        {
        //            id: 999,
        //            title: 'Repeating Event',
        //            start: new Date(y, m, d - 3, 16, 0),
        //            allDay: false
        //        },
        //        {
        //            id: 999,
        //            title: 'Repeating Event',
        //            start: new Date(y, m, d + 4, 16, 0),
        //            allDay: false
        //        },
        //        {
        //            title: 'Meeting',
        //            start: new Date(y, m, d, 10, 30),
        //            allDay: false
        //        },
        //        {
        //            title: 'Lunch',
        //            start: new Date(y, m, d, 12, 0),
        //            end: new Date(y, m, d, 14, 0),
        //            allDay: false
        //        },
        //        {
        //            title: 'Birthday Party',
        //            start: new Date(y, m, d + 1, 19, 0),
        //            end: new Date(y, m, d + 1, 22, 30),
        //            allDay: false
        //        },
        //        {
        //            title: 'Click for Google',
        //            start: new Date(y, m, 28),
        //            end: new Date(y, m, 29),
        //            url: 'http://google.com/'
        //        }
        //    ]
        //});

    });

</script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
    </div>
</div>
<div class="row">

    <div id="divDashBoard">
        <div data-bind="source: this" data-template="dashBoardTemplate"></div>
    </div>

    @*<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation1.aspx">
                <div class="info-box blue-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0">12</div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Create Quotation</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-file-excel-o lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 coloraquo">32,000,000</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5"></div>
                        </div>
                    </div>
                </div>
            </a><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation2.aspx">
                <div class="info-box brown-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0 mobilepadleft10">4</div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Waiting Approve</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-cubes lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 colordarkcyan">20,000,000</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5">62.5%</div>
                        </div>
                    </div>
                </div>
            </a><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation3.aspx">
                <div class="info-box black-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0 mobilepadleft10">5</div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Win</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-cubes lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 colorburlywood">10,000,000</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5">31.25%</div>
                        </div>
                    </div>
                </div>
            </a><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation4.aspx">
                <div class="info-box green-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0 mobilepadleft10">3</div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Loss</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-cubes lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 colorblack">2,000,000</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5">6.25%</div>
                        </div>
                    </div>
                </div>
            </a><!--/.info-box-->
        </div><!--/.col-->*@

</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-desktop red"></i><strong>Monitoring</strong></h2>
                    <!--
                    <div class="panel-actions">
                        <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                        <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                        -->
                </div>
                <div id="divMonitoring">
                    <div class="row" style="padding: 20px;">
                        <div class="col-md-2">From Date</div>
                        <div class="col-md-3">
                            <div class="input-group date" id="dtFromDate">
                                <input id="txtFromDate" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">To Date</div>
                        <div class="col-md-3">
                            <div class="input-group date" id="dtToDate">
                                <input id="txtToDate" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a id="btnSearchMonitoring" class="btn btn-primary" data-bind="events: {click: onSearch}"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive" style="height: 300px; overflow-y: auto; overflow-x: hidden">
                            <table class="table bootstrap-datatable countries">
                                <thead>
                                    <tr>
                                        <th style="width: 36px">No.</th>
                                        <th class="sm-input" style="width: 152px">User</th>
                                        <th class="width90" style="width: 132px">Position</th>
                                        <th class="sm-input" style="width: 116px">Waiting Approve</th>
                                        <th style="width: 100px">Approved</th>
                                        <th>Progess</th>
                                    </tr>
                                </thead>
                                <tbody data-template="templateMonitoring" data-bind="source: Items" style=""></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-money red"></i><strong>Exchange Rate</strong></h2>
                    <!--
                    <div class="panel-actions">
                        <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                        <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                        -->
                </div>
                <div class="panel-body">
                    <table id="tblDHExchangeRate" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Rate (บาท)</th>
                                <th>Update Date</th>
                            </tr>
                        </thead>
                        <tbody id="resultDHExchangeRate" data-template="templateDHExchangeRate" data-bind="source: dataSource"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script id="templateDHExchangeRate" type="text/template">
    <tr>
        <td class=""><span data-bind="text: CurrencyName" /></td>
        <td class=""><span data-format="n2" data-bind="text: Rate" /></td>
        <td class=""><span data-format="dd/MM/yyyy" data-bind="text: UpdateDate" /></td>
    </tr>
</script>

<div class="row">
    <div class="col-md-12 col-lg-12 portlets">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-calendar red"></i><strong>Calendar</strong></h2>
            <!--
                <div class="panel-actions">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                </div>
                -->
            </div><br><br><br>
            <div class="panel-body">
                <div id="calendar"></div>

            </div>
        </div>
    </div>
</div>


<script id="dashBoardTemplate" type="text/template">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation1.aspx">
                <div class="info-box blue-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0"><span data-format="n0" data-bind="text: Table[0].Count" /></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Create Quotation</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-file-excel-o lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 coloraquo"><span data-format="n0" data-bind="text: Table[0].Amount" /></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation2.aspx">
                <div class="info-box brown-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0 mobilepadleft10"><span data-format="n0" data-bind="text: Table[1].Count" /></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Waiting Approve</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-cubes lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 colordarkcyan"><span data-format="n0" data-bind="text: Table[1].Amount" /></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5"><span data-format="n0" data-bind="text: Table[1].Percent" />%</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation3.aspx">
                <div class="info-box black-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0 mobilepadleft10"><span data-format="n0" data-bind="text: Table[2].Count" /></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Win</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-cubes lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 colorburlywood"><span data-format="n0" data-bind="text: Table[2].Amount" /></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5"><span data-format="n0" data-bind="text: Table[2].Percent" />%</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <a href="IndexQuotation4.aspx">
                <div class="info-box green-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 count mgn-top0 mobilepadleft10"><span data-format="n0" data-bind="text: Table[3].Count" /></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 title mgr-top5">Loss</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                            <i class="fa fa-cubes lineheight50 fontsize45 padright50 height0 mobilepad-left80 mobilemgr-left22 mask"></i>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 title fontsize20 colorblack"><span data-format="n0" data-bind="text: Table[3].Amount" /></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-3 col-sm-12 col-xs-12 mobilepadleft5"><span data-format="n0" data-bind="text: Table[3].Percent" />%</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</script>

<script id="templateMonitoring" type="text/template">
    <tr>
        <td style="width: 36px"><span data-bind="text: Row" /></td>
        <td class="sm-input" style="width: 152px"><span data-bind="text: FullName" /></td>
        <td class="width90" style="width: 132px"><span data-bind="text: PositionName" /></td>
        <td class="sm-input" style="width: 116px"><span data-bind="text: WaitingApprove" /></td>
        <td style="width: 100px"><span data-bind="text: Approve" /></td>
        <td>
            <div data-role="progressbar"
                 data-min="0"
                 data-max="100"
                 data-show-status="false"
                 data-bind="value: Percen"
                 style="width: 100%;">

            </div>

        </td>
    </tr>
</script>