@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/Lockout.cshtml";
}

@Styles.Render("~/Content/kendo/styles/kendo.common-bootstrap.min.css")
@Styles.Render("~/Content/kendo/styles/kendo.bootstrap.min.css")


@Scripts.Render("~/Scripts/kendo/js/kendo.ui.core.min.js")

@Scripts.Render("~/Scripts/Common.js")
@Scripts.Render("~/Scripts/CUDS/Login/ResetPassword.js")

<link href="~/Content/kendo/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" />
<script src="~/Scripts/kendo/js/kendo.core.min.js"></script>
<form class="login-form">
    <div class="login-wrap">
        <p class="login-img">
            <!--<i class="icon_lock_alt"></i>-->
            <img src="../img/Logokanit.jpg" />
        </p>
        <div id="formContext" class="list-group">
            <div class="input-group">
                <h4>RESET PASSOWRD</h4>                
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key"></i></span>
                <input type="text" class="form-control" placeholder="New password" data-bind="value: newPassword">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key"></i></span>
                <input type="text" class="form-control" placeholder="Verify password" data-bind="value: verifyPassword">
            </div>
            <div class="btn btn-primary btn-lg btn-block" type="submit" data-bind="click: onResetPassword">Reset password</div>

            <div style="margin-top: 5px;" class="btn btn-info btn-lg btn-block" data-bind="click: onCancel">Cancel</div>

        </div>
    </div>
</form>
